<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tannae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tannae_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TANNAE"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AccountActivity"/>
        <activity android:name=".activity.AccountEditActivity"/>
        <activity android:name=".activity.FAQActivity"/>
        <activity android:name=".activity.FAQEditActivity"/>
        <activity android:name=".activity.FindActivity"/>
        <activity android:name=".activity.HistoryActivity"/>
        <activity android:name=".activity.LostFoundActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.NavigationActivity"/>
        <activity android:name=".activity.PaymentActivity"/>
        <activity android:name=".activity.PointActivity"/>
        <activity android:name=".activity.QnAActivity"/>
        <activity android:name=".activity.QnADetailActivity"/>
        <activity android:name=".activity.QnAEditActivity"/>
        <activity android:name=".activity.ServiceReqActivity"/>
        <activity android:name=".activity.ServiceUsingActivity"/>
        <activity android:name=".activity.SignUpActivity"/>

    </application>

</manifest>
