<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team_seven.tannae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/tannae_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TANNAE"
        android:usesCleartextTraffic="true">


        <activity
            android:name="com.team_seven.tannae.activity.account.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.team_seven.tannae.activity.account.AccountActivity"/>
        <activity android:name="com.team_seven.tannae.activity.account.AccountEditActivity"/>
        <activity android:name="com.team_seven.tannae.activity.account.SignUpActivity"/>
        <activity android:name="com.team_seven.tannae.activity.account.FindActivity"/>

        <activity android:name="com.team_seven.tannae.activity.main_service.MainActivity"/>
        <activity android:name="com.team_seven.tannae.activity.main_service.ServiceReqActivity"/>
        <activity android:name="com.team_seven.tannae.activity.main_service.NavigationActivity"/>
        <activity android:name="com.team_seven.tannae.activity.main_service.PaymentActivity"/>

        <activity android:name="com.team_seven.tannae.activity.user_service.UserServiceListActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.LostFoundActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.HistoryActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.PointActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.QnAActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.QnADetailActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.QnAEditActivity"/>
        <activity android:name="com.team_seven.tannae.activity.user_service.FAQActivity"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="be32c53145962ae88db090324e2223b0"/>
    </application>

</manifest>
